<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>
            Distributed file system client
        </h1>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- Buttons -->
        <div class="row btn-toolbar">
            <button type="button" class="btn btn-dark mr-1" data-toggle="modal" data-target="#newDirModal"> Create folder </button>
            <button type="button" class="btn btn-dark mr-1" data-toggle="modal" data-target="#newEmptyFileModal"> Create empty file </button>
            <button type="button" class="btn btn-dark mr-1" data-toggle="modal" data-target="#uploadFileModal"> Upload file </button>
            <a href="/init"> <input type="button" class="btn btn-dark" value="Initialize"/> </a>
        </div>
        <br>

        <!-- File structure -->
        <div class="list-group">
            <!-- Link to previous folder -->
            {% if path != '/' %}
            <div class="row">
                <a href="{{'/dirs' + prev}}" class="list-group-item list-group-item-action"> ..</a>
            </div>
            {% endif %}

            <!-- Show all dirs and their buttons -->
            {% for dir in dirs %}
            <div class="row">
                <a href="{{'/dirs' + path + dir + '/'}}" class="list-group-item list-group-item-action col-8">
                    <i class="fa fa-folder"></i> {{dir}}
                </a>

                <form method="POST" action="/dirs/" class="col-2">
                    <input type="hidden" name="dir_name" value="{{dir}}" />
                    <input type="hidden" name="method" value="DELETE" />
                    <input type="hidden" name="path" value="{{path}}" />
                    <button type="submit" class="btn">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </form>
            </div>
            {% endfor %}

            <!-- Show all files and their buttons -->
            {% for file in files %}
            <div class="row">
                <a href="{{'/file' + path + file + '/'}}" class="list-group-item list-group-item-action  col-8">
                    <i class="fa fa-file"></i> {{file}}
                </a>

                <form method="POST" action="/file/" class="col-2">
                    <input type="hidden" name="file_name" value="{{file}}" />
                    <input type="hidden" name="path" value="{{path}}" />
                    <input type="hidden" name="method" value="DELETE" />
                    <button class="btn"><i class="fa fa-trash-alt"></i></button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>






    <!-- Modals -->
    <!-- Dir modal -->
    <div class="modal fade" id="newDirModal" tabindex="-1" role="dialog" aria-labelledby="$newDirModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newDirModal">Create new Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    <form method="POST" action="/dirs/" id="folder">
                        <div class="form-group">
                            <label for="dir_name" class="col-form-label">Folder's name:</label>
                            <input type="text" name="dir_name" class="form-control"/>
                        </div>
                        <input type="hidden" name="method" value="PUT" />
                        <input type="hidden" name="path" value="{{path}}" />
                    </form>
                    <!-- End -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" value="save" onclick="event.preventDefault();
                            document.getElementById('folder').submit();">Create</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Empty file modal -->
    <div class="modal fade" id="newEmptyFileModal" tabindex="-1" role="dialog" aria-labelledby="newEmptyFileLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newEmptyFileModal">Create new File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    <form method="POST" action="/file/" id="file">
                        <div class="form-group">
                            <label for="file_name" class="col-form-label">File's name:</label>
                            <input type="text" name="file_name" class="form-control" />
                        </div>
                        <input type="hidden" name="path" value="{{path}}" />
                        <input type="hidden" name="method" value="CREATE" />
                    </form>
                    <!-- End -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" value="save" onclick="event.preventDefault();
                            document.getElementById('file').submit();">Create</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload file modal -->
    <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFileModal">Upload new File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    <form method="POST" action="/file/" enctype="multipart/form-data" id="upload">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                            <input type="hidden" name="path" value="{{path}}" />
                            <input type="hidden" name="method" value="UPLOAD" />
                      </div> 
                    </form>
                    <!-- End -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" value="save" onclick="event.preventDefault();
                            document.getElementById('upload').submit();">Upload</button>
                </div>
            </div>
        </div>
    </div>


    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>
</body>
